.options {
    font-size: 18px;
}

.option {
    margin-bottom: 20px;
    padding: 20px 15px;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    max-width: 900px;
}

.optionsTitle {
    display: flex;
    padding-bottom: 30px;
    gap: 40px;
}

.optionsTitleText {
    font-size: 75px;
    display: flex;
    align-items: center;
}

.optionsButton {
    font-size: 20px;
    margin-right: 20px;
}

.enabledText {
    font-size: 20px;
    vertical-align: bottom;
    margin-right: 5px;
}

.modeSelect {
    font-size: 20px;
    margin-left: 5px;
}

.modeSelectDocs {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 15px;
}

.reactionsInput {
    width: 60px;
    margin-left: 5px;
}