.popupBody {
    background-color: lightgray;
}

.popup {
    width: 160px;
    background-color: white;
    padding: 15px
}

.enabledText {
    font-size: 20px;
    vertical-align: bottom;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 5px;
}
