.popupBody {
    background-color: lightgray;
}

.popup {
    width: 175px;
    background-color: white;
    padding: 15px
}

.popupTitle {
    display: flex;
    padding-bottom: 20px;
    font-size: 22px;
    gap: 20px;
}

.enabledText {
    font-size: 20px;
    vertical-align: bottom;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 5px;
}
